<div>
    <h2>Register</h2>
    <form>
        <mat-form-field class="marigin-block">
            <mat-label>Username</mat-label>
            <input matInput class="form-control">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput class="form-control">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput class="form-control">
        </mat-form-field>
        <mat-form-field>
            <mat-label>ConfrimPassword</mat-label>
            <input matInput class="form-control">
        </mat-form-field>
        <button mat-raised-button color="primary">Register</button>
        <button mat-button>Login</button>

    </form>
</div>